@import 'includes';

.living_situation_tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  margin: 2em 0em;

  .living_situation_tile {
    text-align: center;
    border: 1px solid $indicator-gray;
    box-shadow: 2px 2px 4px $indicator-gray;
    border-radius: 4px;
    max-width: 800px;
    padding: 30px 20px;

    display: grid;
    align-items: center;
    justify-items: center;

    .living_situation_icon {
      max-width: 88px;
      svg {
        fill: $eicda-blue;
        width: 100%;
        height: 100%;
      }
    }
    .single_icon {
      padding: 1em;
    }

    .duel_icon {
      font-weight: bold;
      font-size: 1.3em;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      justify-content: center;
      justify-items: center;
      align-items: center;

      
      .situation_plus {
        display: inline-block;
        padding: 0em 0.3em;
      }

      .housemate_family_icon {
        svg {
          fill: $muted-gray;
        }
      }

      .living_situation_icon {
        max-width: 100px;
      }
      
      .single_icon { 
        padding: 0em;
        height: 90%;
        display: grid;
        justify-items: center;
        align-items: center;
        max-width: 50px;
      }
    }
  }

  .living_situation_tile:hover,
  .living_situation_tile.selected {
    // box-shadow: 3px 3px 4px $muddy-green;
    border-color: $eicda-blue;
  }

  .living_situation_tile.selected {
    background-image: url('https://energyinnovationact.org/wp-content/uploads/2019/09/check_mark_blue.png');
    background-repeat: no-repeat;
    background-size: 4em;
    background-position-y: top;
    background-position-x: center;
    background-origin: content-box;
    svg {
      opacity: 0;
    }
    .single_icon,
    .duel_icon,
    .living_situation_icon {
      visibility: hidden;
    }
    box-shadow: none;
  }

  @media (max-width: 300px) {
    grid-template-columns: 1fr;
  }
}
