@import 'includes';

div.card#results div.share_row {
  width: 100%;
  min-height: 80px;
  i {
    color: $blue;
    text-decoration: none;
    margin-left: 10px;
  }
  i { font-size: 1.7em; }
  padding: 25px 0px;
  label { margin-left: 25px; }
}

.SocialMediaShareButton, .print_button {
  display: inline-block;
}

@media(max-width: $screen-phone) {
  div.card#results div.share_row div.SocialMediaShareButton {
    padding: 0 2.67037%;
  }
}

