@import "includes";

div.ccl_card#results div.share_row {
  width: 100%;
  display: grid;
  align-items: center;
  min-height: 70px;
  i {
    color: $democrat-blue;
    text-decoration: none;
    margin-left: 10px;
  }
  i {
    font-size: 1.6em;
  }

  label {
    font-weight: bold;
  }

  label:not(:first-child) {
    margin-left: 25px;
  }
}

.SocialMediaShareButton,
.print_button {
  display: inline-block;
}

@media (max-width: $screen-phone) {
  div.ccl_card#results div.share_row div.SocialMediaShareButton {
    padding: 0 1.77037%;
  }
}
