/*
  Styles specifically in place to override Wordpress styles that interfere with the App.
  These are targeted at 'body.wordpress_calculator', which should be in place on any injected
  wordpress page.
*/
$card_height: 100vh;

h1.entry-title.main_title {
  display: none;
}

#et-main-area #main-content .container {
  margin-top: -50px;
}

div.inner-page-wrap.has-no-sidebar {
  margin-top: 0px;
}

body.wordpress_calculator {
  overflow-y: scroll;
}

@media print {
  div.container.clearfix.et_menu_container {
    display: none;
  }

  footer#main-footer {
    display: none;
  }
}

body div#calculator {
  font-size: 20px;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;

  div#results.ccl_card > div div {
    padding: 0 3.67037% !important;
  }
  div#results.ccl_card > div {
    div.impact_panel {
      padding: 40px 0px 0px 0px !important;
      margin-top: 40px;
    }
    div.share_row {
      padding: 25px 0 !important;
    }
  }

  @media (max-width: $screen-sm-min) {
    form-group {
      margin-bottom: 0px;
    }
  }

  .alert.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1em;
  }

  @media (max-width: $screen-phone) {
    font-size: 15px;
  }
}
