$card_height: 100vh;

div.inner-page-wrap.has-no-sidebar {
  margin-top: 0px;
}

body.wordpress_calculator {
  overflow-y: scroll;
}

body.wordpress_calculator.modal-open-noscroll, body.wordpress_calculator.modal-open {
  padding-right: 0px !important;
  overflow: auto;
}

body.wordpress_calculator div#calculator {
  font-size: 20px;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;

  div#results.card > div div { padding: 0 3.67037% !important; }
  div#results.card > div {
    div.impact_panel {
      padding: 40px 0px 0px 0px !important;
      margin-top: 40px;
    }
    div.share_row { padding: 25px 0 !important; }
  }

  @media(max-width: $screen-sm-min) {
    form-group {margin-bottom: 0px;}
  }

  /* specific style overwrides */
  .col-sm-8 {
    margin-right: 0px !important;
  }

  .alert.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1em;
  }

  @media only screen and (max-width: 767px) {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1,
    .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2,
    .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3,
    .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { margin-bottom: 0px; }

    .col-sm-4 {
      width: 33.33333333% !important;
    }
  }
  @media(max-width: $screen-phone) {
    font-size: 15px;
  }
}
