@import 'includes';
@import 'spinner';
@import 'living_situation';
@import 'social_media';
@import 'wordpress_overrides';

body {
  font-size: 20px;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  color: $default-font-color;
  overflow-y: scroll;
}

body.modal-open body.modal {
  overflow-y: auto;
}

a {
  display: inline;
  color: $ccl-blue;
}

// bootstrap color overrides
#calculator {
  .form-control:focus {
    border-color: $eicda-blue;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .has-error .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .caret {
    color: $green;
  }
  .input-lg,
  .btn {
    border-radius: 0px;
  }
  label {
    font-weight: normal;
    margin-bottom: 0px;
  }
}

.ribbon {
  background-color: $ribbon-green;
  position: relative;
  margin: 5px;
  margin-left: -38px;
  padding: 6px 25px 6px 38px;
  white-space: nowrap;
}

.ribbon::before {
  content: '\A0';
  width: 38px;
  height: 5px;
  position: absolute;
  left: 0px;
  top: 100%;
  border-left: 38px solid transparent;
  border-right: 0px solid transparent;
  border-top: 16px solid $ribbon-dark-green;
}

#impact_calculator {
  position: relative;
  .navbar {
    margin-bottom: 0px;
  }
}

div.ccl_card {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3.67037%;
}

div.ccl_card#results {
  a { color: $eicda-blue; }

  .form_title { color: $eicda-red; }
  .sub_heading { color: $default-font-color; font-weight: bold; }

  .dividend_highlight {
    background-color: $medium-gray;
    display: grid;
    margin: 1em 0em;
    padding: 1em;
    text-align: center;
    grid-template-columns: .9fr;
    align-items: center;
    justify-content: center;
    align-items: center;
    .sub_heading { color: $default-font-color; font-weight: bold; }

    .dividend { color: $muddy-green; font-weight: bold; font-size: 1.5em; margin: .3em 0em; }
  }

  .result_detail_row {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .result_details {
    margin-top: 1.8em;
    font-size: 0.9em;
  }
  
  div.impact_panel {
    padding: 30px 0px 0px 0px;
    margin-top: 30px;
    font-size: 0.8em;
    div.form_title {
      color: $eicda-blue;
      margin-bottom: 0em;
    }
    div.form_title.net_impact {
      margin-bottom: 0px;
      color: inherit;
      .explanation_prompt {
        font-size: .6em;
        font-weight: normal;
        padding-left: 15px;
      }
    }
    .result_detail_row {
      margin-top: 0em;
    }
  }
  .month_label {
    font-size: 0.8em;
  }
}

div.ccl_card#spending {
  min-height: 100vh;
}

.navbar-brand {
  padding: 0px;
}

.print_banner img,
.navbar-brand > img {
  height: 50px;
  padding: 0px;
  width: auto;
}

.btn-join {
  line-height: 20px;
  padding: 10px 15px;
}

div.ccl_card.intro_container {
  min-height: 100vh;
  align-items: center;
  text-align: center;
  div {
    max-width: 528px;
  }
}

.calculator_title {
  font-size: 2.35em;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 1.2em;
  color: $eicda-red;
  font-family: 'Ubuntu', 'Source Sans Pro', 'Helvetica', sans-serif;
  font-weight: bold;
}

.explanation {
  font-size: 1.1em;
}
#intro .explanation.text-muted {
  font-size: 1.24em;
  color: $eicda-blue !important;
}
.form_title {
  font-size: 1.4em;
  margin-bottom: 20px;
  font-weight: bold;
  color: $eicda-red;
}
.sub_heading {
  color: $eicda-blue;
}

.form-group {
  margin-top: 40px;
}

div.form-group:first-of-type {
  margin-top: 20px;
}

a.explanation_prompt {
  width: 100%;
  display: block;
  font-size: 0.7em;
  margin-bottom: 12px;
  color: $eicda-blue !important;
}

a.explanation_prompt:hover {
  text-decoration: underline !important;
}

.footer {
  width: 100%;
  text-align: left;
  a,
  a:hover,
  i,
  button {
    text-decoration: none;
  }
  button.btn,
  button.btn.disabled {
    font-size: 1.2em;
    margin: 20px 40px 20px 0px;
    min-width: 25%;
    background-color: $eicda-blue;
    color: white;
    line-height: 1.83;
  }
  button.btn.btn-intro {
    min-width: 40%;
    margin-right: 0px;
    margin-left: 0px;
  }
  padding-bottom: 20px;
  button.btn_back {
    color: $dark-gray;
    background-color: transparent;
    border-color: $dark-gray;
  }
  .cf_and_d_explanation {
    font-size: 0.8em;
    a {
      display: inline;
      color: $eicda-blue;
      text-decoration: underline;
    }
  }
}
.form-control {
  width: initial;
}
.number_select {
  width: 113px;
}
.top_buffer {
  margin-top: 20px;
}
.bottom_buffer {
  margin-bottom: 20px;
}
.faq_link {
  font-size: 0.9em;
}
.expense_text {
  display: inline-block;
  max-width: 50px;
  margin-left: 5px;
}

.income_text {
  max-width: 100px;
  display: inline-block;
  margin-left: 5px;
}

.calculating {
  display: none;
  width: 100%;
  height: 100%;
  margin: 30px 0px;
  font-size: 1.7em;
  color: $eicda-blue;
  .spinner {
    svg {
      display: block;
      margin: auto;
      max-width: 280px;
    }
  }
}

div#intro .footer {
  text-align: center;
  margin-bottom: 50px;
}

.spending_panel {
  display: none;
  label {
    font-size: 1em;
  }
}

.spending_footer {
  opacity: 0;
}

.search_failed {
  margin: 20px 0px;
  display: none;
}

.impact_panel {
  border-top: 1px solid #eee;
  .summary_profit {
    display: block;
  }
}
div.header,
div.basic_info_data {
  width: 100%;
}
div.no_print {
  display: block;
}

div.basic_info_data {
  padding-bottom: 20px;
  a {
    margin-left: 10px;
  }
  display: none;
}

label.label_sm {
  display: none;
}
.label_lg {
  display: inline-block;
}

div.row {
  margin-left: 0px;
  margin-right: 0px;
}

div.impact_indicator {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  display: none;
  line-height: 45px;
  .estimate_message {
    font-weight: bold;
    color: $eicda-blue;
  }
  .estimate_message,
  .net_impact {
    padding-left: 0px;
    padding-right: 0px;
  }
  .spinner {
    margin: 0px auto;
    max-width: 45px;
    height: 45px;
    padding: 6px;
  }
  .calculating {
    font-size: 1em;
    margin: 0px 0px;
  }
  .calculate_success {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

/* wrap */
@media (max-width: $screen-sm-min) {
  div.ccl_card > div {
    margin-left: 5px;
  }
  div.form-group.row {
    margin: 0px;
  }

  div.ccl_card {
    width: 99%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-between;
  }

  div.basic_info_panel {
    width: 100%;
  }
  .disclaimer {
    font-size: 0.9em;
  }
}

a:hover {
  cursor: pointer;
}
.modal-body {
  h4 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1em;
  }
  font-size: 0.9em;
}

.disclaimer {
  font-size: 0.8em;
}
.text-muted {
  color: $muted-gray;
}
#results {
  .result_row {
    font-size: 1.2em;
  }
  .btn_start_over {
    margin-right: 40px;
  }
}

@media (max-width: $screen-phone) {
  div.ccl_card.basic_info_data,
  div.tips {
    display: none;
  }
  body {
    font-size: 15px;
  }
  label.label_sm {
    display: inline;
    margin-left: 0px;
  }
  .label_lg {
    display: none;
  }
  div#intro {
    font-size: 20px;
    .calculator_title {
      font-size: 2em;
    }
  }
  .disclaimer {
    font-size: 0.9em;
  }
  div.ccl_card#spending,
  div.ccl_card#results {
    min-height: 100vh;
  }
  div.ccl_card.intro_container {
    min-height: 95vh;
  }
  .form-group {
    margin-top: 15px;
  }
  .footer {
    padding-bottom: 0px;
    button.btn,
    button.btn.btn-intro,
    button.btn.disabled {
      width: 100%;
      border-radius: 4px;
      margin: 20px 0px 10px 0px;
    }
    .cf_and_d_explanation {
      display: none;
    }
  }
  .faq_link {
    padding-bottom: 10px;
  }
  .form-control {
    width: 100%;
  }
  .number_select {
    width: 100%;
  }
  .explanation_prompt {
    font-size: 0.93em;
  }

  input.expense_text {
    margin-bottom: 3px;
    margin-left: 0px;
  }

  .ribbon {
    background-color: transparent;
    position: relative;
    margin-left: 0px;
    padding: 0px;
    white-space: normal;
  }

  .ribbon::before {
    display: none;
  }

  div#results.ccl_card > div {
      div.impact_panel {
        padding: 20px 0px 0px 0px !important;
        margin-top: 20px;
      }
  }
}

.print_only,
div.pre_calculate,
div.print_spending,
div.initially_hidden {
  display: none;
}
