$screen-sm-min: 768px;

section.demo {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;

  display:flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: $screen-sm-min) {
  section.demo > div { margin-left: 5px; }
  div.form-group.row { margin: 0px; }
}

form {
  margin-top: 30px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 50px;
  padding: 0px;
  width: auto;
}

.btn-join {
  line-height: 20px;
  padding: 10px 15px;
}

section.demo.intro_container {
  height: 90vh;
  align-items: center;
  text-align: center;
  div {
    max-width: 500px;
  }
}

.calculator_title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.explanation {
  font-size: 1.1em;
}

.form_title {
  font-size: 2.0em;
}

.footer {
  text-align: center;
  font-size: 2.0em;
  @media(max-width: $screen-sm-min) { font-size :1.2em; }
  a, a:hover, i, button {
    color: teal;
    text-decoration: none;
  }
  button {
    font-weight:bold;
    font-size: .8em;
    margin: 20px 0px;
  }
  i {
    font-size: 2.5em;
  }
  padding-bottom:20px;
}

.number_select {
  max-width: 60px;
}

#electricity, #gasoline {
  width: 90%;
}

.top_buffer {
  margin-top: 20px;
}

.bottom_buffer {
  margin-bottom: 20px;
}

.share_row {
  width: 100%;
  min-height: 80px;
  i {
    color: teal;
    text-decoration: none;
    margin-left: 10px;
  }
  padding-bottom: 20px;
  label { margin-left: 25px; }
}

.calculating {
  display: none;
  width: 100%;
  height: 100%;
  margin: 30px 0px;
  font-size: 1.8em;
  color: teal;
  i {
    font-size: 3.5em;
    opacity: .6;
  }
}

.spending_panel {
  display:none;
}

section.demo.pre_calculate, div.print_spending {
  display:none;
}

div.print_only { display: none; }
div.no_print { display: block; }
