@import 'includes';
@import 'spinner';
@import 'social_media';
@import 'wordpress_overrides';

body {
  font-size: 20px;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
}

a { display: inline; color: $ccl-blue;}

// bootstrap color overrides
#calculator {
  .form-control:focus{border-color: $green;  box-shadow: none; -webkit-box-shadow: none;}
  .has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}
  .caret { color: $green; }
}

#impact_calculator {
  position: relative;
  .navbar { margin-bottom: 0px; }
}

div.card {
  //width: 57%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3.67037%;
}

div.card#results {
  padding: 0 0 40px 0;
  > div {
    width: 100%;
    div {
      padding: 0 3.67037%;
    }
  }
  div.impact_panel { 
    padding: 40px 0px 0px 0px;
    margin-top: 40px;
    div.form_title { font-size: 1.4em; }
    div.form_title.net_impact { font-size: 1.8em; margin-bottom: 0px; }
  }
}

div.card#spending {
  min-height: 100vh;
}

.navbar-brand { padding: 0px; }

.print_banner img, .navbar-brand>img {
  height: 50px;
  padding: 0px;
  width: auto;
}

.btn-join {
  line-height: 20px;
  padding: 10px 15px;
}

div.card.intro_container {
  min-height: 100vh;
  align-items: center;
  text-align: center;
  div {
    max-width: 528px;
  }
}

.calculator_title {
  font-size: 2.45em;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.explanation { font-size: 1.20em; }
#intro .explanation { font-size: 1.25em; }
.form_title { font-size: 1.8em; margin-bottom: 20px; }

.form-group {
  margin-top: 40px;
}

.explanation_prompt {
  width: 100%;
  display: block;
  line-height: .3em;
  font-size: .7em;
  margin-bottom: 12px;
  color: $ccl-blue;
}

.footer {
  width: 100%;
  text-align: left;
  font-size: 2.0em;
  @media(max-width: $screen-sm-min) { font-size :1.2em; }
  a, a:hover, i, button {
    //color: $dark-gray;
    text-decoration: none;
  }
  a.btn_start_over {
    font-size: .6em;
  }
  button.btn, button.btn.disabled {
    font-size: .7em;
    margin: 20px 0px;
    min-width: 32%;
    background-color: $dark-gray;
    color: white;
    border-radius: 8px;
    line-height: 1.7em;
  }
  button.btn.btn-intro {
    min-width: 40%;
    font-size: 0.9em;
    line-height: 1.83;
  }
  padding-bottom:20px;
  button.btn_back { color: $dark-gray; background-color: transparent; border-color: $dark-gray }
  .cf_and_d_explanation {
    font-size: .45em;
    a { display: inline; color: $ccl-blue; text-decoration: underline; }
  }
}
.form-control { width: initial; }
.number_select { width: 113px; }
.top_buffer { margin-top: 20px; }
.bottom_buffer { margin-bottom: 20px; }
.expense_text { 
  display: inline-block;
  max-width: 50px;
  margin-left: 5px;
}

.income_text { max-width: 100px; display: inline-block; margin-left: 5px; }

div.card#results div.share_row {
  width: 100%;
  min-height: 80px;
  i {
    color: $blue;
    text-decoration: none;
    margin-left: 10px;
  }
  a { font-size: 1.6em; }
  padding: 25px 0px;
  label { margin-left: 25px; }
}

.calculating {
  display: none;
  width: 100%;
  height: 100%;
  margin: 30px 0px;
  font-size: 1.7em;
  color: $blue;
  .spinner {
    svg {
      display: block;
      margin: auto;
      max-width: 200px;
    }
  }
}

div#intro .footer { text-align: center; }

.spending_panel, .btn_results{
  display:none;
  label { font-size: 1.0em; }
}

.search_failed {
  margin: 20px 0px;
  display: none;
}

//.footer button:not(:first-child) { margin-left: 20px; }
.impact_panel { 
  border-top: 1px solid #eee; 
  .summary_profit { display: block; }
}
div.header, div.basic_info_data { width: 100%; }
div.no_print { display: block; }

div.basic_info_data {
  padding-bottom: 20px;
  a {margin-left: 10px;}
  display: none;
}

label.label_sm{ display: none; }
.label_lg{ display: inline-block; }

div.row { margin-left: 0px; margin-right: 0px}


div.impact_indicator {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  display: none;
  line-height: 45px;
  .estimate_message, .net_impact {padding-left: 0px; padding-right: 0px; }
  .spinner {
    margin: 0px auto;
    max-width: 45px;
    height: 45px;
    padding: 6px;
  }
  .calculating {
    font-size: 1em;
    margin: 0px 0px;
  }
}

/* wrap */
@media(max-width: $screen-sm-min) {
  div.card > div { margin-left: 5px; }
  div.form-group.row { margin: 0px; }
  .form_title {font-size: 1.8em;}

  div.card {
    width: 99%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-between;
    //align-items: center;
  }

  div.basic_info_panel { width: 100%; }
  .disclaimer{ font-size: .9em; }
}

a:hover { cursor: pointer; }
.modal-body {
  h4 { text-decoration: underline; font-weight: bold; font-size: 1.1em; }
  font-size: .9em;
}

.disclaimer { font-size: .8em; }
.text-muted { color: $muted-gray; }
#results {
  .result_row { font-size: 1.2em; }
}

@media(max-width: $screen-phone) {
  div.card.basic_info_data, div.tips { display: none; }
  body { font-size: 15px; }
  label.label_sm{ display: inline-block; }
  .label_lg{ display: none; }
  div#intro { font-size: 20px;}
  .disclaimer{ font-size: .9em; }
  div.card#spending, div.card#results {
    min-height: 100vh;
  }
  .form-group { margin-top: 15px; }
  .footer {
    padding-bottom: 0px;
    button.btn, button.btn.btn-intro, button.btn.disabled{
      width: 100%;
      border-radius: 4px;
    }
    .cf_and_d_explanation { display: none; }
  }
  .form-control { width: 100%; }
  .number_select { width: 100%; }
  .explanation_prompt { font-size: .93em; }
}

.print_only, div.pre_calculate, div.print_spending, div.initially_hidden { display: none; }
