@import 'includes';
@import 'social_media';
@import 'wordpress_overrides';

body {
  font-size: 2.0em;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
}

div.section {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
}

div#basic_questions { @include linear-gradient($green-from, $green-to); }
div#spending { @include linear-gradient($blue-from, $blue-to); }
#impact_calculator .navbar { margin-bottom: 0px; }

div.card {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display:flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.67037%;
}

div.card#results {
  padding: 0;
  > div {
    width: 100%;
    div {
      padding: 0 3.67037%;
    }
  }
  div.impact_panel { padding: 0; }
}

// div.section.intro_basic, div.section.intro_basic div.card { height: 95vh; }
// div.footer a { visibility: hidden;}
div.footer a { display:none; }
form { margin-top: 50px; }
.navbar-brand { padding: 0px; }

.print_banner img, .navbar-brand>img {
  height: 50px;
  padding: 0px;
  width: auto;
}

.btn-join {
  line-height: 20px;
  padding: 10px 15px;
}

div.card.intro_container {
  height: 100vh;
  align-items: center;
  text-align: center;
  div {
    max-width: 500px;
  }
}

.calculator_title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.explanation { font-size: 1.4em; }
#intro .explanation { font-size: 1.3em; }
.form_title { font-size: 2.0em; margin-bottom: 20px; }

.footer {
  width: 100%;
  text-align: left;
  font-size: 2.0em;
  @media(max-width: $screen-sm-min) { font-size :1.2em; }
  a, a:hover, i, button {
    color: $dark-gray;
    text-decoration: none;
  }
  button.btn, button.btn.disabled {
    font-weight:bold;
    font-size: .7em;
    margin: 20px 0px;
    min-width: 25%;
    background-color: $dark-gray;
    color: white;
  }
  i {
    font-size: 2.5em;
  }
  padding-bottom:20px;
  button.btn_back { color: $dark-gray; background-color: transparent; border-color: $dark-gray }
  .cf_and_d_explanation {
    font-size: .5em;
    a { display: inline; color: $ccl-blue; text-decoration: underline; }
  }
}

.number_select { max-width: 60px; }
#electricity, #gasoline { width: 90%; }
.top_buffer { margin-top: 20px; }
.bottom_buffer { margin-bottom: 20px; }

.share_row {
  width: 100%;
  min-height: 80px;
  i {
    color: $ccl-blue;
    text-decoration: none;
    margin-left: 10px;
  }
  a { font-size: 1.6em; }
  padding-bottom: 20px;
  label { margin-left: 25px; }
}

.calculating {
  display: none;
  width: 100%;
  height: 100%;
  margin: 30px 0px;
  font-size: 1.8em;
  color: $dark-gray;
  i {
    font-size: 3.5em;
    opacity: .6;
  }
}

div#intro .footer { text-align: center; }

.spending_panel {
  display:none;

  label { font-size: 1.0em; }
}

.search_failed {
  margin: 20px 0px;
  display: none;
}

.footer button:not(:first-child) { margin-left: 20px; }
.impact_panel { background-color: $light-gray; border-top: 1px solid #eee; }
div.header, div.basic_info_data { width: 100%; }
div.no_print { display: block; }

div.basic_info_data {
  padding-bottom: 20px;
  a {margin-left: 10px;}
}

@media(max-width: $screen-md) { body { font-size: 1.4em; } }

/* wrap */
@media(max-width: $screen-sm-min) {
  // div.footer a { visibility: visible;}
  div.footer a { display: initial; }
  #intro .footer .cf_and_d_explanation { display: none; }
  body { font-size: 1.9em; }

  div.section, div.section.intro_basic {
    display: block;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
  }
  div.card > div { margin-left: 5px; }
  div.form-group.row { margin: 0px; }
  .form_title {font-size: 1.5em;}

  // div.section.intro_basic div.card#intro { height: 95vh; }
  div.section.intro_basic div.card { height: 100vh; }
  div.card {
    // max-width: 600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer .btn_results { display: inline-block; }
  .disclaimer{ font-size: .9em; }
}

a:hover { cursor: pointer; }
#calculationDetails h4 { text-decoration: underline; }

.disclaimer { font-size: .8em; }
#results {
  .result_row { font-size: 1.4em; }
}

@media(max-width: $screen-phone) {
  div.basic_info_data, div.tips { display: none; }
  body { font-size: 1.4em; }
  .disclaimer{ font-size: .9em; }
  // div.household-income-select, label.household-income-label { width: 100%; }
}

.print_only, .btn_results, div.pre_calculate, div.print_spending { display: none; }
