@media print {
  @page { size: landscape; }
  div#intro, div#spending, nav{ display: none; }
  div.print_banner { width: 100%; }
  div.footer, .share_row { visibility: hidden; }

  div#impact_calculator {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
  }
  div#basic_questions, div#results {
    margin: 0px;
  }
  div#basic_questions {
    width: 50%;
  }
  div.basic_info_panel {
    width: 90%;
  }
  div.print_spending {
    display: block;
    font-size: 1.2em;
    hr {
      margin: 40px 0px;
    }
  }
  .print_only { display: block; }
  div.no_print { display: none; }
}
