@import 'includes';

@media print {
  @page { size: landscape; }
  div#basic_questions, div.family_info_panel, div#intro, div#home_questions, div#spending, nav, .explanation_prompt { display: none; }
  div.print_banner { width: 100%; margin: 20px 0px; }
  div.footer, .share_row { visibility: hidden; }
  body, body.wordpress_calculator div#calculator { font-size: 17px; margin: 1mm 1mm 1mm 1mm; }
  div#impact_calculator {
    display: flex;
    //display: block;
    height: 90vh;
    //flex-direction: column;
    justify-content: space-around;
  }
  body.wordpress_calculator {
    div#impact_calculator {
      display: flex;
      height: 90vh;
      justify-content: space-around;
    }
    div#calculator { font-size: 15px; }
  }
  div#basic_questions, div#results {
    margin: 0px;
  }
  div.basic_info_data {
    display: flex;
    width: 49%;
    height: 85vh;
    margin-top: 20px;
    justify-content: flex-start;
  }
  div#results {
    display: flex;
    width: 49%;
    height: 85vh;
    justify-content: flex-start;
    margin-top: 40px;
  }
  div.print_spending {
    display: flex;
    font-size: 1.2em;
    hr {
      margin: 40px 0px;
    }
  }
  div.spending_summary { margin-top: 10%; }
  .print_only { display: block; }
  div.no_print, .no_print { display: none; }

  div.section.intro_basic, div.section.pre_calculate, div.section.post_calculate { width: 50%; }
  div.top_buffer { margin-top: 20px; }
  @media(max-width: $screen-portrait) {
    body, body.wordpress_calculator div#calculator { font-size: 14px; margin: 1mm 1mm 1mm 1mm; }
  }
}
