@media print {
  @page { size: landscape; }
  div#basic_questions, div.family_info_panel, div#intro, div#home_questions, div#spending, nav{ display: none; }
  div.print_banner { width: 100%; margin-bottom: 40px; }
  div.footer, .share_row { visibility: hidden; }
  body { font-size: 1.7em; }
  div#impact_calculator {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
  }
  div#basic_questions, div#results {
    margin: 0px;
  }
  div.basic_info_panel {
    width: 90%;
  }
  div.basic_info_data {
    display: block;
  }
  div.print_spending {
    display: block;
    font-size: 1.2em;
    hr {
      margin: 40px 0px;
    }
  }
  .print_only { display: block; }
  div.no_print { display: none; }

  div.section.intro_basic, div.section.pre_calculate, div.section.post_calculate { width: 50%; }
  div#basic_questions, div#results { width: 100%; }
  div.top_buffer { margin-top: 20px; }
}
