@media print {
  @page { size: landscape; }
  div#basic_questions, div.family_info_panel, div#intro, div#home_questions, div#spending, nav, .explanation_prompt { display: none; }
  div.print_banner { width: 100%; margin: 20px 0px; }
  div.footer, .share_row { visibility: hidden; }
  body { font-size: 1.6em; }
  div#impact_calculator {
    display: flex;
    //display: block;
    height: 85vh;
    //flex-direction: column;
    justify-content: space-around;
  }
  div#basic_questions, div#results {
    margin: 0px;
  }
  div.basic_info_data {
    display: flex;
    float: left;
    width: 49%;
    height: 100vh;
    margin-top: 20px;
    justify-content: space-evenly;
  }
  div#results {
    display: flex;
    width: 49%;
    float: right;
    height: 98vh;
    justify-content: space-evenly;
  }
  div.print_spending {
    display: flex;
    font-size: 1.2em;
    hr {
      margin: 40px 0px;
    }
  }
  .print_only { display: block; }
  div.no_print, .no_print { display: none; }

  div.section.intro_basic, div.section.pre_calculate, div.section.post_calculate { width: 50%; }
  //div#basic_questions, div#results { width: 100%; }
  div.top_buffer { margin-top: 20px; }
}
